/* You can add global styles to this file, and also import other style files */

:root{
    --bg-body: #e7f6fc;
    --bg-card: #8ecae6;
    --primary-color: #219ebc;
    --primary-light: #fff;
    --secondary-light: #c8c8c8;
    --secondary-color: #023047;
}

body {
    background-color: var(--bg-body);
    color: var(--text-color-light);
}