<nav>
    <ul>
        <li>
            <div class="user-profile-image">
                <img src="../../assets/images/user-icon.jpeg" alt="user-profile-icon">
            </div>
        </li>
        <li>
            <a routerLink="/dashboard">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/products">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Products
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/inventory">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Inventory
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/orders">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Orders
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/sales">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Sales
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/customers">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Customers
            </a>
        </li>
        <li>
            <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                Logout
            </a>
        </li>
    </ul>
</nav>