.login-section {
    height: 100vh;
}

.login-card {
    width: 450px;
}

.card-header {
    background-color: var(--secondary-color);
    color: var(--secondary-light);
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

input::placeholder{
    color: var(--secondary-light);
}