<div class="container-fluid login-section d-flex justify-content-center align-items-center">
    <div class="card login-card shadow-lg">
        <!-- card header -->
        <div class="card-header p-3">
            Login
        </div>

        <!-- card body -->
        <div class="card-body">
            <form [formGroup]="loginForm">
                <div class="row">

                    <div class="col-xl-12 mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="email" placeholder="example@example.com" formControlName="email">
                        <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="text-danger">
                            E-mail is required!
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="********" formControlName="password">
                        <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="text-danger">
                            Password is required!
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <!-- card footer -->
        <div class="card-footer">
            <a routerLink="/register"> Click here to register</a>
            <button class="btn btn-primary float-end" (click)="submit()" [disabled]="!this.loginForm.value">
                Login
            </button>
        
        </div>

    </div>
</div>
