<div class="header">
    <span><i class="bi bi-person-circle"></i></span>
    <span><i class="bi bi-bell-fill"></i></span>
    <span><i class="bi bi-envelope-fill"></i></span>
</div>

<div class="container-fluid">

    <!-- section for side navigation -->
    <div class="container sidebar">
      
        <app-navigation></app-navigation>
       
    </div>

    <!-- section for router outlet -->
    <div class="container main">
        <router-outlet></router-outlet>
    </div>

</div>

<!-- modal section -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel"><i class="bi bi-box-arrow-left"></i> Logout</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-danger">You want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
        </div>
      </div>
    </div>
  </div>